/* Button.module.scss */

[data-theme="dark"] {
  --primary-color: rgb(230, 230, 230);
  --background-color: rgb(23, 23, 23);
  --color-blue: rgb(67, 56, 202);
  --color-gray: #E5E5E5;
  --secondary-hover: rgb(23, 23, 23);
  --disabled: rgb(40,40,40);
}

[data-theme="light"] {
  --primary-color: rgb(23, 23, 23);
  --background-color: rgb(230, 230, 230);
  --color-blue: rgb(67, 56, 202);
  --color-gray: #E5E5E5;
  --secondary-hover: #FAFAFA;
  --disabled: #F5F5F5;
}

$color_blue: rgb(67, 56, 202);
$color_red: rgb(220, 38, 38);
$color_gray: rgb(230, 230, 230);
$color_black: rgb(23, 23, 23);

@mixin xlarge {
	@media (min-width: 1200px) { @content; }
}

@mixin large {
	@media (min-width: 1000px) { @content; }
}

@mixin medium {
	@media (min-width: 700px) { @content; }
}

//default is small

@mixin xsmall {
	@media (max-width: 500px) { @content; }
}

@mixin short {
	@media (max-height: 500px) { @content; }
}

@mixin xshort {
	@media (max-height: 400px) { @content; }
}

dialog {
  padding: 0;
  margin: 0;
  max-width: 100vw;
  max-height: 100vh;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  &.center {
    justify-content: center;
    align-items: center;
  }
  &.top {
    justify-content: center;
    align-items: flex-start;
  }
  &.bottom {
    justify-content: center;
    align-items: flex-end;
  }
  &.left {
    justify-content: center;
    align-items: flex-start;
    @include medium {
      justify-content: flex-start;
      align-items: center;
    }
  }
  &.right {
    justify-content: center;
    align-items: flex-end;
    @include medium {
      justify-content: flex-end;
      align-items: center;
    }
  }
  &.required {
    backdrop-filter: blur(6px);
  }
}

.modals {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  color: var(--primary-color);
  width: 100vw;
  min-height: 50px;
  background-color: var(--background-color);
  padding: 24px;
  position: relative;
  opacity: 0;
  transition: opacity 0.3s ease;
  &.visible {
    opacity: 1;
  }
  &.center {
    border-radius: 8px;
  }
  &.top {
    border-radius: 0 0 8px 8px;
  }
  &.bottom {
    border-radius: 8px 8px 0 0;
  }
  &.left {
    border-radius: 0 8px 8px 0;
  }
  &.right {
    border-radius: 8px 0 0 8px;
  }
  @include medium {
    min-width: 150px;
    &.small {
      width: 22vw;
      &.left, &.right {
        max-width: 8vw;
      }
    }
    &.medium {
      width: 50vw;
      &.left, &.right {
        max-width: 10vw;
      }
    }
    &.large {
      width: 80vw;
      &.left, &.right {
        max-width: 15vw;
      }
    }
    &.full {
      width: 94vw;
      height: 90vh;
    }
  }
}

.close_button {
  font-size: 2em;
  position: absolute;
  top: 0;
  right: 0;
  .close_button__icon {
    font-size: 2em;
  }
}